.home {
  padding: 24px;

  &-title {
    font-size: 30px;
  }
}

.swiper-item {
  width: 100%;
  height: 330px;
  padding: 95px 0 0 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  width: 245px;
  height: 45px;
  margin-bottom: 20px;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
}

.content {
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-align: left;
}

// process list styles
.process-box {
  display: flex;
  justify-content: space-around;
}
.process-box > * {
  padding: 15px;
}
.arrow {
  width: 16px;
  height: 16px;
  margin-top: 50px;
}

h1.title {
  margin-bottom: 15px;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

div > img {
  width: 200px;
  height: 132px;
  margin-bottom: 15px;
  vertical-align: middle;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #333;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
